@import "tailwindcss";

/* Define things like divs and h1 tags */
/* @layer base {
    h1{
        @apply text-6xl;
    }
} */

/* Define classes to use in your frontend */
/* @layer components{
    .sectionHeading{
        @apply text-4xl uppercase;
    }
} */

/* Change predefined values in Tailwind */
/* @theme {
    --text-lg: 40px
} */

/* ------------------------------------ DEFINE TAILWIND CLASSES ------------------------------------ */
@theme{
    --text-lg: 35px
}

@theme{
    --text-xl: 60px
}

/* ------------------------------------ GENERAL CLASSES ------------------------------------ */
@layer components{
    .section-heading{
        @apply
            text-xl
            uppercase
            font-bold
            tracking-wide
            text-center;
    }

    .section-header-underline{
        @apply 
            w-4/5
            h-2
            bg-linear-to-r from-blue-500 to-red-500
            justify-self-center
            ;
    }

    .secondary-header{
        @apply
            uppercase
            text-center
            text-lg
            font-bold
            tracking-wide
            ; 
    }
}




@layer base{
    button{
        @apply
            h-15 
            w-40 
            mt-5
            rounded-xl
            text-white
    }
}

@layer components{
    .user-intro-section{
        @apply 
            flex
            flex-col
            p-10
            justify-center
            items-center
    }

    .intro-button-container{
        @apply
            grid
            grid-cols-2
            gap-2
    }

    .cv-button{
        @apply
            bg-linear-to-r from-blue-500 to-blue-700
    }

    .contact-button{
        @apply
            bg-linear-to-r from-green-500 to-green-700
    }

    .tech-logo-containers{
        @apply 
            border
            border-black/30
            h-20
            w-15
            rounded
            flex
            justify-center
            items-center
            p-1
            ;
    }
}

/* ------------------------------------ PROJECTS ------------------------------------ */
@layer components{
    .specific-project-container{
        @apply
            flex 
            flex-col
            w-full
            ;
    }

    .specific-project-img-container{
        @apply
            relative
            flex
            justify-center
            m-6;
    }

    .computer-screen{
        @apply
            w-4/5
    }

    .project-img{
        @apply
            absolute
            top-3
            w-70/100
            h-29;
    }

    .project-button-div{
        @apply
            flex
            justify-center
            gap-10
            p-3
            w-full
    }

    .git-repo-button{
        @apply
            border
            h-15
            w-1/2
            bg-linear-to-r from-purple-500 to-purple-700
            uppercase;
    }

    .web-link-button{
        @apply
            border
            h-15 
            w-1/2
            bg-linear-to-r from-red-500 to-red-700
            uppercase
    }
}


