@import "tailwindcss";

/* ------------------------------------ DEFINE TAILWIND CLASSES ------------------------------------ */
@theme{
    --text-lg: 35px
}

@theme{
    --text-xl: 60px
}

/* ------------------------------------ GENERAL CLASSES ------------------------------------ */
@layer components{
    .section-heading{
        @apply
            text-xl
            uppercase
            font-bold
            tracking-wide
            text-center;
    }

    .section-header-underline{
        @apply 
            w-4/5
            h-2
            bg-linear-to-r from-blue-500 to-red-500
            justify-self-center
            ;
    }

    .secondary-header{
        @apply
            uppercase
            text-center
            text-lg
            font-bold
            tracking-wide
            ; 
    }
}


@layer base{
    button{
        @apply
            h-15 
            w-40 
            mt-5
            rounded-xl
            text-white
            text-center
            flex
            justify-center
            items-center
            shadow-2xl
    }
}

@layer components{
    .user-intro-section{
        @apply 
            flex
            flex-col
            p-10
            justify-center
            items-center
    }

    .intro-button-container{
        @apply
            flex
            flex-row
            gap-2
    }

    .cv-button{
        @apply
            bg-linear-to-r from-blue-500 to-blue-700
    }

    .contact-button{
        @apply
            bg-linear-to-r from-green-500 to-green-700
    }

    .tech-logo-containers{
        @apply 
            border
            border-black/30
            h-20
            w-15
            rounded
            flex
            justify-center
            items-center
            p-1
            ;
    }
}

/* ------------------------------------ PROJECTS ------------------------------------ */
@layer components{
    .specific-project-container{
        @apply
            flex 
            flex-col
            w-full
            relative
            
            md:z-10
            md:grid
            md:grid-cols-2
            md:justify-self-center
            md:rounded-2xl
            md:bg-black/40
            md:text-white
            ;
    }

    .specific-project-img-container{
        @apply
            relative
            flex
            justify-center
            m-6;
    }

    .computer-screen{
        @apply
            w-97/100
            h-[7/10]
            ;
    }

    .project-img{
        @apply
            absolute
            top-3
            w-9/10
            h-[55%]

            md:w-9/10
            md:top-5
            md:h-55/100
            ;
    }

    .specific-project-info{
        @apply
            flex
            flex-col
    }

    .project-button-div{
        @apply
            flex
            justify-center
            gap-10
            p-3
            w-full
    }

    .git-repo-button{
        @apply
            border
            h-15
            w-1/2
            bg-linear-to-r from-purple-500 to-purple-700
            uppercase;
    }

    .web-link-button{
        @apply
            border
            h-15 
            w-1/2
            bg-linear-to-r from-red-500 to-red-700
            uppercase
    }
}

/* ------------------------------------ CONTACT ------------------------------------ */


/* ------------------------------------ SOCIALS ------------------------------------ */
@layer components{
    .social-icon{
        @apply 
            rounded-xl
            w-22.5
            h-22.5
            flex
            justify-center
            items-center
            bg-[#10ac84]
            text-[#f1f1f1]
            shadow-2xl
    }

    .social-icon-img{
        @apply 
            text-[45px]
    }
}

